@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #003366;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    cursor: default;
}

main {
    display: flex;
}

.barraLateral {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #001e3c;
}

#contenedorLogo {
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
}

#contenedorUsuario {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-color: #878787aa;
    font-size: 14px;
}

.fotoUsuario {
    width: 65px;
    border-radius: 50%;
}

#datosUsuario {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#botonCerrarSesion {
    color: #ff6565;
    font-size: 12px;
    cursor: pointer;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.botonMenu {
    height: 75px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    gap: 20px;
    padding-left: 20px;
}

.botonMenu:hover {
    background-color: #003366;
}

#botonCerrarSesion img {
    width: 15px;
    height: auto;
}

.iconos {
    width: 25px;
}

.botonCargar {
    width: 350px;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    border-radius: 3px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #003366;
    transition: 0.3s ease-in-out;
}

.botonCargar:hover {
    background-color: #145596;
    border: #145596;
}

#contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contenedorTitulo {
    width: 100%;
    height: 85px;
    background-color: #001e3c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo {
    font-size: 25px;
    font-weight: 100;
}

.barraFiltro {
    height: 40px;
    width: 450px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border-radius: 3px;
}

.barraFiltro img {
    width: 20px;
}

.barraFiltro input {
    width: 100%;
    border: none;
    font-size: 14px;
}

.barraFiltro input:focus {
    outline-style: none;
}

#contenedorInfo {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

#contenedorInfo h1 {
    font-size: 40px;
    position: relative;
    top: 50%;
    font-weight: 100;
}

#inicioDato {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#inicioDato img {
    height: 100px;
    width: auto;
    margin-bottom: 50px;
}

#contenedorLista {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

#linea1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}

.cabecera {
    text-align: center;
}

#lista {
    width: 100%;
    height: 100%;
}

.tarjetaAlumno {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    border-top: solid 1px #6c6c6c;
    align-items: center;
    text-align: center;
}
.tarjetaAlumno:last-child {
    border-bottom: solid 1px #6c6c6c;
}

.datosNuevoAlumno {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input {
    width: 350px;
    height: 50px;
    border-radius: 3px;
    padding: 15px;
    color: #6c6c6c;
    font-size: 16px;
}

.oculto {
    display: none;
}
